
.loading-box {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading {
    width: 50%;
    height: 50%;
    margin: auto;
    border-radius: 50%;
    animation: rotate 4s linear infinite;
    fill: orange;
    stroke: black;
    stroke-width: 0.3px;
}