
.Weather {
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    background-color: #ffffff81;
    box-shadow: 3px 3px 10px 1px #00000093;
    border-radius: 30px;
    padding: 20px;
    height: max-content;
}

.weather-box {
    display: flex;
    justify-content: center;
}

.weather-icon svg {
    width: 40px;
    height: auto;
    z-index: 1;
    /* animation: rotate 10s infinite linear; */
    fill: black;
}

.weather-degress {
    display: flex;
    align-items: center;
}
.degress {
    font-weight: bold;
    font-size: 25px;
}

.weather-description {
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    font-size: large;
}

.weather-hour-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: min-content;
    gap: 10px;
    margin: 10px auto 0px;
}

.weather-hour {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.reload-weather {
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
}

.sun-icon {
    animation: rotate-icon 10s infinite linear;
}

.moon-icon {
    animation: movemoon-icon 5s infinite ease-in-out;
}

.cloud-icon {
    animation: cloud-icon 5s infinite ease-in-out;
}

.snow-icon {
    animation: rotate-icon 20s infinite linear;
}

@keyframes cloud-icon {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes movemoon-icon {
    0% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}

@keyframes rotate-icon {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}