

.background-scene {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: -999;
}

.scene-box {
    position: absolute;
    bottom: 0;
    left: -10px;
    width: 105%;
    height: 100vh;
    overflow: hidden;
}

.scene-img {
    position: absolute;
    bottom: 0px;
    min-width: 650px;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.scene-img-little {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.scene-main {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}

.clear-sun-box, .clear-moon-box {
    top: 20%;
    left: 10%;
    position: absolute;
    width: 20vw;
    height: 20vw;
    z-index: -10;
}

.clear-sun-box {
    filter: blur(2px);
}

.clear-sun-box::after, .clear-moon-box::after, .clear-sun-box, .clear-moon-box {
    z-index: 1;
}

.moon {
    background-image: url(../../../../public/imgs/moon.png);
}

.ClearSun {
    background-color: #81e4ff;
}

.ClearMoon {
    background-image: linear-gradient(to bottom, #000, #030032, #090041);
}

.CloudsSunLight {
    background-color: #aee6f5;
}

.CloudsMoonLight {
    background-color: #141414;
}

.Thunderstorm {
    width: 100%;
    height: 100%;
}

.thunder-effect {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    animation: thunder 3s ease-in infinite;
    background-color: #a59f9f98;
    z-index: 6;
}

@keyframes thunder {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0.5;
    }
    95% {
        opacity: 0;
    }
    98% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

.drizzle-effect {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff29;
    filter: blur(2px);
    z-index: 6;
}

.nuvens {
    filter: blur(4px);
    z-index: 5;
}
.nuvens.nuvens-1 {
    position: absolute;
    top: -150px;
    width: 120%;
    height: auto;
    animation: nuvens1 60s linear infinite;
}
.nuvens.nuvens-2 {
    position: absolute;
    top: -150px;
    right: -120%;
    width: 120%;
    height: auto;
    animation: nuvens2 60s linear infinite;
}

@keyframes nuvens1 {
    0% {
        right: 0;
    }
    100% {
        right: 120%;
    }
}
@keyframes nuvens2 {
    0% {
        right: -120%;
    }
    100% {
        right: 0;
    }
}

.rain-effects {
    width: 100%;
    height: 100%;
    position: absolute;
}

.rain-effects.daysun {
    background-color: #ffffff24;
}
.rain-effects.nightmoon {
    background-color: #00000062;
}
.rain-effects.day {
    background-color: #ffffff32;
}
.rain-effects.night {
    background-color: #2423237d;
}
.rain-effects.snowday {
    background-color: #ffffff3c;
}
.rain-effects.snownight {
    background-color: #3d3d3d56;
}

.rain-effect.drizzle {
    width: 3px;
    height: 3px;
    background-color: white;
}
.rain-effect {
    position: absolute;
    top: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: aqua;
}

.rain-effect.snowday {
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    filter: blur(2px);
}
.rain-effect.snownight {
    width: 8px;
    height: 8px;
    background-color: #848484;
    filter: blur(2px);
}

.rain-effect.night {
    background-color: #43605f;
}


@keyframes drop {
    0% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(20vw, 100vh);
    }
}

.Clouds {
    z-index: 5;
}

.clouds-box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.cloud {
    position: absolute;
    height: auto;
}

@keyframes cloud-move {
    0% {
        left: 100%;
    }
    100% {
        left: -50%;
    }
}