
.SunRiseAndSet {
    background-color: var(--bg-color);
    padding: 1rem;
    border-radius: 1.5rem;
}

.sras-title {
    font-size: 1.5rem;
    margin: 1rem auto;
    text-align: center;
}

.times {
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.sunrise, .sunset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sunrise-icon, .sunset-icon {
    width: 2rem;
    height: auto;
    fill: black;
}

.sras-time {
    font-size: 1rem;
    font-weight: 500;
}

.grafic-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    min-width: 250px;
    height: 100px;
    justify-content: flex-start;
    overflow: hidden;
}

.grafic-item {
    height: 200%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.grafic-selected {
    background: linear-gradient(to bottom, #77f0f8, #77f0f8, #c6c7c7, #c6c7c7, #c7c7c7);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.grafic-selected svg {
    position: absolute;
    width: 1.5rem;
    height: auto;
    fill: orangered;
    stroke-width: .2px;
    stroke: black;
    animation: grafic-item-rotate 10s linear infinite;
}

@keyframes grafic-item-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 580px) {
    .SunRiseAndSet {
        background-color: transparent;
    }
}