/* Folha de estilo padrão */
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #cfcfcfad;
}

#root {
    height: 100%;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.App {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.container {
    width: 100%;
    height: min-content;
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}


@media screen and (max-width: 580px) {
    .App {
        height: min-content;
        padding: 2rem;
    }
    .container {
        background-color: var(--bg-color);
        width: min-content;
        height: min-content;
        margin: auto;
        padding: 0;
    }
}